*{
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.nav-link {
    color: #060606 !important;
}
.btn-login{
    font-size: 10px;
    color: #060606;
}
.nav-link:hover {
    color: rgb(19, 55, 140) !important;
}

.navbar-brand{
    font-size: 24px;
}

.navbar-brand span {
    font-size: 1.6em;
    color: rgb(19, 55, 140);
    font-weight: 700;
}

.banner-image {
    background-image: url('/tugas5/img/hero1.webp');
    background-size: cover;
    background-position: center;
}

.menu-kategori:hover{
    transform: scale(1.2);
}

.video{
    margin: 0px;
    padding: 5px;
    padding-top: 16px;
}

.review-name{
    font-size: 16px;
    margin-bottom: 5px;
}

.review-desk{
    font-size: 14px;
}

.deskripsi{
    height: 250px;
   overflow-y: scroll;
}

.review{
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lokasi{
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;  
}

